# Terraform secrets and state
terraform/terraform.tfvars
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.backup
ansible/**/*.bk

# Ansible retry files
ansible/*.retry

# OS files
.DS_Store
Thumbs.db